#about{
    width: auto;
    color: black;
}

#about > *{
  font-family: "Times New Roman", Sans, Open-Sans, Helvetica;
}

#mypic{
    position: relative;
    right: 0px;
    top:5;
    float: right;
    border: bold 2px #b388ff;
    border-radius: 20px;
    overflow: auto;
    margin: 15px;
}

body{
    background-color: f5f5f5;
    color: black;
}

a{
    text-decoration: none;
    color: #fff000;
}
footer{
    background-color: #e0e0e0;
    color: black;
    text-align: center;
    border: black 2px bold;
    border-radius: 15px;
    margin: 10px;
}

.cus{
  text-align: center;
  padding: 1px;
}
#Luna{
  float: bottom;
}
